@use "../utils/_mixins";

button {
  @include mixins.common-input;

  border: 2px solid;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

button:hover {
  background-color: black;
  color: white;
  border-color: black;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  transition: 0.1s ease-in;
}

button.loading {
  content: "LOAD";
}

button.primary {
  color: green;
  border-color: green;
}

button.primary:hover {
  background-color: green;
  color: white;
}
